* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
  color: #333;
  text-align: center;
  line-height: 3;
}

.section {
  padding: 40px 20px;
}

.hero {
  padding: 50px 20px;
  gap: 20px;
}

.hero-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: lightgray;
}

.hero h1 {
  font-size: 60px;
}

.accent {
  color: darkblue;
}

/* Media Query */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 40px;
  }
  .hero {
    flex-direction: column;
  }
}

#greeting {
  font-weight: bold;
  margin-top: 20px;
}
